pre {
  margin: 3rem;
  font-family: monospace;
  font-size: 16px;
  outline: auto;
  outline: var(--color-primary) solid 2px;
  outline-offset: 1rem;
  border-radius: 8px;
  white-space: pre-wrap;
}

pre code-snippet {
  color: red;
}
