:root {
  --color-foreground: hsl(0, 0%, 100%);
  --color-background: hsl(210deg, 30%, 8%);
  --color-links: hsl(213, 100%, 73%);
  --color-links-hover: hsl(213, 100%, 80%);
  --color-border: hsl(0, 0%, 55%);
  --color-text: hsl(0deg, 0%, 100%);
  --color-blurred-background: hsla(210deg, 30%, 8%, 0.85);
  --color-primary: hsl(230deg, 100%, 67%);
  --color-secondary: hsl(333deg, 100%, 52%);
  --color-tertiary: hsl(53deg, 100%, 50%);
  --color-decorative: hsl(200deg, 50%, 60%);
  --color-muted: hsl(210deg, 38%, 15%);
  --color-muted-background: hsla(210deg, 38%, 15%, 0.85);
  --color-info: hsl(230deg, 100%, 67%);
  --color-success: hsl(160deg, 100%, 40%);
  --color-success-background: hsla(160deg, 100%, 40%, 0.1);
  --color-error: hsl(340deg, 95%, 60%);
  --color-error-background: hsla(340deg, 95%, 43%, 0.1);
  --color-alert: hsl(30deg, 100%, 50%);
  --color-alert-background: hsla(38deg, 100%, 50%, 0.1);
  --color-venn-0: hsl(250deg, 100%, 50%);
  --color-venn-1: hsl(175deg, 100%, 50%);
  --color-subtle-background: hsl(210deg, 30%, 8%);
  --color-subtle-floating: hsl(210deg, 22%, 15%);
  --color-homepage-light: hsla(200deg, 100%, 85%, 0);
  --color-homepage-dark: hsla(200deg, 100%, 85%, 0.1);
  --color-homepage-bg: hsl(210deg, 30%, 8%);
  --syntax-bg: hsl(210deg, 30%, 12%);
  --syntax-highlight: hsl(210deg, 30%, 18%);
  --syntax-txt: hsl(0, 0%, 100%);
  --syntax-comment: hsl(200, 18%, 51%);
  --syntax-prop: hsl(326, 100%, 61%);
  --syntax-bool: hsl(50, 100%, 50%);
  --syntax-val: hsl(199, 13%, 44%);
  --syntax-str: hsl(259, 100%, 71%);
  --syntax-name: hsl(280, 100%, 66%);
  --syntax-del: hsl(0, 100%, 67%);
  --syntax-regex: hsl(51, 100%, 50%);
  --syntax-fn: hsl(195, 100%, 50%);
}
