:root {
  --font-body: 'Wotfard', Futura, -apple-system, sans-serif;
  --color-foreground: hsl(0, 0%, 7%);
  --color-background: hsl(0, 0%, 100%);
  --color-links: hsl(213, 100%, 52%);
  --color-links-hover: hsl(213, 100%, 43%);
  --color-border: hsl(0, 0%, 82%);
  --color-text: hsl(222deg, 22%, 5%);
  --color-background: hsl(0deg, 0%, 100%);
  --color-blurred-background: hsla(0deg, 0%, 100%, 0.85);
  --color-primary: hsl(245deg, 100%, 60%);
  --color-secondary: hsl(333deg, 100%, 45%);
  --color-tertiary: hsl(255deg, 85%, 30%);
  --color-decorative: hsl(200deg, 75%, 65%);
  --color-muted: hsl(210deg, 55%, 92%);
  --color-muted-background: hsla(210deg, 55%, 92%, 0.85);
  --color-info: hsl(245deg, 100%, 60%);
  --color-success: hsl(160deg, 100%, 40%);
  --color-success-background: hsla(160deg, 100%, 40%, 0.1);
  --color-error: hsl(340deg, 95%, 50%);
  --color-error-background: hsla(340deg, 95%, 43%, 0.1);
  --color-alert: hsl(37deg, 100%, 50%);
  --color-alert-background: hsla(52deg, 100%, 50%, 0.25);
  --color-venn-0: hsl(190deg, 100%, 65%);
  --color-venn-1: hsl(340deg, 100%, 65%);
  --color-subtle-background: hsl(225deg, 25%, 95%);
  --color-subtle-floating: hsl(0deg, 0%, 100%);
  --color-homepage-light: hsl(204deg, 67%, 85%);
  --color-homepage-dark: hsl(202deg, 71%, 90%);
  --color-homepage-bg: hsl(204deg, 67%, 85%);
  --syntax-bg: hsl(225deg, 25%, 97%);
  --syntax-highlight: hsl(225deg, 25%, 93%);
  --syntax-txt: #2a2a2a;
  --syntax-comment: #467790;
  --syntax-prop: #da0079;
  --syntax-bool: #bf00b8;
  --syntax-val: #78909c;
  --syntax-str: #651fff;
  --syntax-name: #aa00ff;
  --syntax-del: rgb(255, 85, 85);
  --syntax-regex: #3600d6;
  --syntax-fn: #3d5afe;
  --prefers-dark: false;

  /* customs */
  --content-bg: hsla(0, 0%, 23%, 0.2);
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

::selection {
  background-color: var(--selection-background, var(--color-primary));
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 0.5rem;
  border-radius: 0.2rem;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  /* text-decoration: underline; */
}

a[target='_blank']:after {
  content: '↗️';
  margin: 0 3px 0 5px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: var(--color-border);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

input:where([type='text']),
input:where([type='search']) {
  display: block;
  border: 1px solid var(--color-border);
  width: 100%;
  font: inherit;
  line-height: 1;
  height: calc(1ch + 1.5em);
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: hsl(0 0% 100% / 20%);
  color: var(--color-foreground);
}

.portfolio-app {
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

.portfolio-app__header {
  border-bottom: 3px solid var(--color-foreground);
}

.portfolio-app__header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.portfolio-app__header-home-link {
  color: var(--color-foreground);
}

.portfolio-app__header-home-link > h1 {
  margin: 0;
}

.portfolio-app__header-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.portfolio-app__header-nav li {
  padding: 1rem;
  font-weight: bold;
}

.portfolio-app__main {
  padding: 5rem;
}

.portfolio-app__intro {
  display: flex;
  justify-content: center;
}

.portfolio-app__intro > * {
  margin-left: 3rem;
  margin-right: 3rem;
}

.portfolio-app__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'newest categories' 'newest popular';
  gap: 64px 96px;
  padding-top: 64px;
}

.portfolio-app__posts {
  grid-area: newest;
}

.portfolio-app__categories {
  grid-area: categories;
}

.portfolio-app__popular {
  grid-area: popular;
}

.portfolio-app__footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 3px solid var(--color-border);
}

.portfolio-app__footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__page {
  --gap: 1rem;
  --space: 2rem;
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--gap);
  padding-top: var(--space);
  padding-bottom: var(--space);
}

@media print, screen and (min-width: 640px) {
  .portfolio__page {
    --gap: 2rem;
    grid-auto-rows: unset;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .portfolio__page {
    --gap: 4rem;
  }
}

.portfolio__page > main > :first-child {
  margin-top: 0;
}

.portfolio__page > main > :last-child {
  margin-bottom: 0;
}

.portfolio__page > aside {
  margin: 0;
  padding: 1.5ch 2ch;
  /* border: solid 3px var(--color-foreground); */
  background-color: var(--content-bg);
  border-radius: 0.5rem;
}

.portfolio__page > aside > :first-child {
  margin-top: 0;
}

.portfolio__page > aside > :last-child {
  margin-bottom: 0;
}

.portfolio__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

.portfolio__form > * {
  margin-top: 0;
  margin-bottom: 0;
}
