@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard-thin-webfont.eot');
  src: url('/fonts/wotfard-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/wotfard-thin-webfont.woff2') format('woff2'),
    url('/fonts/wotfard-thin-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard-extralight-webfont.eot');
  src: url('/fonts/wotfard-extralight-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/wotfard-extralight-webfont.woff2') format('woff2'),
    url('/fonts/wotfard-extralight-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard-light-webfont.eot');
  src: url('/fonts/wotfard-light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/wotfard-light-webfont.woff2') format('woff2'),
    url('/fonts/wotfard-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard-regular-webfont.eot');
  src: url('/fonts/wotfard-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/wotfard-regular-webfont.woff2') format('woff2'),
    url('/fonts/wotfard-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard-medium-webfont.eot');
  src: url('/fonts/wotfard-medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/wotfard-medium-webfont.woff2') format('woff2'),
    url('/fonts/wotfard-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard-semibold-webfont.eot');
  src: url('/fonts/wotfard-semibold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/wotfard-semibold-webfont.woff2') format('woff2'),
    url('/fonts/wotfard-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard-bold-webfont.eot');
  src: url('/fonts/wotfard-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/wotfard-bold-webfont.woff2') format('woff2'),
    url('/fonts/wotfard-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  /* font */
  --font-body: -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-display: 'Wotfard', var(--font-body);
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-light: 300;
  --font-family-mono: monospace;
  /* color */
  --color-foreground: hsl(0, 0%, 7%);
  --color-background: hsl(0, 0%, 100%);
  --color-links: hsl(213, 100%, 52%);
  --color-links-hover: hsl(213, 100%, 43%);
  --color-border: hsl(0, 0%, 82%);
  --color-text: hsl(222deg, 22%, 5%);
  --color-background: hsl(0deg, 0%, 100%);
  --color-blurred-background: hsla(0deg, 0%, 100%, 0.85);
  --color-primary: hsl(333deg, 100%, 45%);
  --color-secondary: hsl(245deg, 100%, 60%);
  --color-tertiary: hsl(150, 100%, 60%);
  --color-quaternary: hsl(53deg, 100%, 50%);
  --color-quinary: hsl(280, 100%, 60%);
  /* quaternary (4th), quinary (5th), senary, septenary, octonary, nonary, denary */
  --color-decorative: hsl(200deg, 75%, 65%);
  --color-muted: hsl(210deg, 55%, 92%);
  --color-muted-background: hsla(210deg, 55%, 92%, 0.85);
  --color-info: hsl(245deg, 100%, 60%);
  --color-success: hsl(160deg, 100%, 40%);
  --color-success-background: hsla(160deg, 100%, 40%, 0.1);
  --color-error: hsl(340deg, 95%, 50%);
  --color-error-background: hsla(340deg, 95%, 43%, 0.1);
  --color-alert: hsl(37deg, 100%, 50%);
  --color-alert-background: hsla(52deg, 100%, 50%, 0.25);
  --color-venn-0: hsl(190deg, 100%, 65%);
  --color-venn-1: hsl(340deg, 100%, 65%);
  --color-subtle-background: hsl(225deg, 25%, 95%);
  --color-subtle-floating: hsl(0deg, 0%, 100%);
  --color-homepage-light: hsl(204deg, 67%, 85%);
  --color-homepage-dark: hsl(202deg, 71%, 90%);
  --color-homepage-bg: hsl(204deg, 67%, 85%);
  /* code playgrounds */
  --syntax-bg: hsl(225deg, 25%, 97%);
  --syntax-highlight: hsl(225deg, 25%, 93%);
  --syntax-txt: #2a2a2a;
  --syntax-comment: #467790;
  --syntax-prop: #da0079;
  --syntax-bool: #bf00b8;
  --syntax-val: #78909c;
  --syntax-str: #651fff;
  --syntax-name: #aa00ff;
  --syntax-del: rgb(255, 85, 85);
  --syntax-regex: #3600d6;
  --syntax-fn: #3d5afe;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

::selection {
  background-color: var(--color-tertiary);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

/* debugging */
/* :hover {
  outline: auto;
  outline: var(--color-primary) dotted 2px;
  outline-offset: 0.5rem;
  border-radius: 1px;
} */

:focus {
  outline: auto;
  outline: var(--color-primary) dotted 2px;
  outline-offset: 0.5rem;
  border-radius: 1px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
  scrollbar-width: 6px;
  scrollbar-color: var(--color-primary);
}

body {
  font-family: var(--font-display);
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

a {
  font-weight: 300;
  color: var(--color-text);
  text-decoration: none;
  outline: none;
}

a[href^="https://"]:after
{
  display: inline-block;
  background: transparent url(/img/external-link.svg) 0 0 no-repeat;
  filter: invert(0);
  content: '';
  margin-left: 0.5rem;
  height: 16px;
  width: 16px;
}

input:where([type='text']),
input:where([type='search']) {
  display: block;
  border: 1px solid var(--color-border);
  width: 100%;
  font: inherit;
  line-height: 1;
  height: calc(1ch + 1.5em);
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: hsl(0 0% 100% / 20%);
  color: var(--color-foreground);
}

.portfolio-app {
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

.max-width-wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  align-items: center;
  padding: 1rem;
}

.header-home-link h1 {
  color: var(--color-foreground);
  margin: 0;
}

.header-home-link h1:hover {
  color: var(--color-primary);
}

.header-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.header-nav li {
  padding: 1rem;
  font-weight: bold;
}

.header-nav a:hover {
  color: var(--color-primary);
}

.section-header {
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: calc(1.2rem);
  letter-spacing: 2px;
}

.main {
  padding: 1rem;
}

.intro {
  display: flex;
  justify-content: flex-start;
}

.intro > * {
  margin-left: 3rem;
}

@media print, screen and (min-width: 640px) {
}

@media screen and (min-width: 1024px) {
}
