/* Posts Page CSS */

.posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem 3rem;
  justify-items: center;
  padding: 3rem;
}

.posts-grid h3 {
  padding-left: 1rem;
  margin: 0.5rem 0 0.5rem 0;
}

.posts-grid p {
  margin-top: 0;
  padding-left: 1rem;
}

.posts-grid a {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  opacity: 60%;
}

.posts-grid a:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  opacity: 100%;
  animation: hovering 1.5s ease;
}

.posts-grid div {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  opacity: 60%;
}

.posts-grid div:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  opacity: 100%;
  animation: hovering 1.5s ease;
}

@keyframes hovering {
  0% {
    opacity: 60%;
  }
  100% {
    opacity: 100%;
  }
}

/* ---------------- */
/* Post CSS */
/* ---------------- */

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(75ch, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}
.header-img {
  /* layout-shift optimization */
  min-height: 60vh;
  /* ------------------------- */
  max-height: 60vh;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.center {
  text-align: center;
}
.margin-it {
  margin: 3rem;
}
.subtitle {
  margin-top: 0;
  font-size: 20px;
  font-weight: 400;
}
p {
  padding-top: 0.75rem;
  font-size: 22px;
  font-weight: 300;
}
p i {
  letter-spacing: 2px;
}
p a {
  text-decoration: underline;
}
.link:hover {
  color: var(--color-primary);
}
.codesandbox {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  height: 600px;
  border: 0;
  border-radius: 10px;
  overflow: hidden;
}
footer {
  height: 40vh;
}
main li {
  font-size: 22px;
}

/* Mobile Layouts (Keep in mind: "Mobile First!") */
@media (max-width: 760px) {
  .posts-grid {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  p {
    padding: 1rem 1rem 0rem 1rem;
    font-size: 18px;
    font-weight: 200;
  }
}
