:root {
  --color-primary: hsl(333deg, 100%, 45%);
  --color-secondary: hsl(245deg, 100%, 60%);
}

@media (prefers-color-scheme: dark) {
  .snippets-grid a:hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
  }
}

@media (prefers-color-scheme: light) {
  .snippets-grid a:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}

h2 {
  text-align: center;
}

.snippets-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 0rem;
  justify-items: center;
  padding: 3rem;
}

.snippets-grid h3 {
  padding-left: 1rem;
  margin: 0.5rem 0 0.5rem 0;
}

.snippets-grid p {
  margin-top: 0;
  padding-left: 1rem;
}

.snippets-grid a {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  opacity: 60%;
}

.snippets-grid a:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  opacity: 100%;
  animation: hovering 1.5s ease;
}

.snippets-grid div {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  opacity: 60%;
}

.snippets-grid div:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  opacity: 100%;
  animation: hovering 1.5s ease;
}

@keyframes hovering {
  0% {
    opacity: 60%;
  }
  100% {
    opacity: 100%;
  }
}
