.resume {
  display: flex;
  flex-direction: row;
  // justify-content: space-evenly;
  .resume-left-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  .resume-right-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    .resume-download-button {
      min-height: 2.5rem;
      min-width: 13rem;
      margin-bottom: 1rem;
    }
  }
  .resume-img {
    width: 40rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
}
