.Box {
  max-width: 400px;
  min-width: 350px;
  border: solid 3px var(--color-foreground);
  border-radius: 10px;
  overflow-wrap: break-word;
  padding: 8px;
}

.Box img {
  /* layout-shift optimization */
  /* ------------------------- */
  height: 25vh;
  width: 100%;
  border-radius: 10px;
}

.unavailable {
  cursor: not-allowed;
  border: 3px hsl(0, 100%, 40%);
  border-style: dashed;
}

.category-tags-container {
  display: flex;
}

.category-tag {
  max-width: 10ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 2px solid var(--color-foreground);
  color: var(--color-foreground);
  border-radius: 10px;
  padding: 6px;
  margin: 8px;
}
