.Box {
  border: solid 3px var(--color-foreground);
  border-radius: 10px;
  max-width: 80%;
  overflow-wrap: break-word;
  padding: 8px;
}

.Box img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.unavailable {
  cursor: not-allowed;
  border: 3px hsl(0, 100%, 40%);
  border-style: dashed;
}
