.parent-div {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  // Profile Section
  .profile-div {
    width: 18rem;
    margin: 0.5rem;

    .card-light {
      background-color: white;
    }
    .card-dark {
      background-color: #424242;
      color: white;
    }

    .avatar {
      height: 20rem;
      width: 16rem;
    }
    .sm-icons {
      vertical-align: text-bottom;
    }
    p {
      margin: 0.25rem;
    }
  }

  // Content Section
  .content-div {
    margin: 0.5rem;

    .paper-light {
      height: auto;
      margin-bottom: 1rem;
      min-width: 20rem;
      padding: 1.5rem;
    }
    .paper-dark {
      background-color: #424242;
      color: white;
      height: auto;
      margin-bottom: 1rem;
      min-width: 20rem;
      padding: 1.5rem;
    }
  }
}
