.App {
  text-align: center;
}

.avatar {
  height: 9rem;
  width: 9rem;
  border-radius: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 5rem;
  display: flex;
  flex-direction: row;
  // justify-content: left;
  color: white;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
